@{
    Layout = "~/Views/Shared/layout.cshtml";
}

@model Customer.Models.User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
    crossorigin="anonymous">
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <title>Register</title>
</head>
<body>
    <br>
    <div class="col-lg-12">
        <br>
        <div class="section-title">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <br>
    <div class="fontdk">
        @using (Html.BeginForm("Register","account",FormMethod.Post))
        {
            <div class="font">
            <br>
                <h1 id="chaomung">FastFood</h1>
            <h4 id="toida">Đăng ký tài khoản</h4>
            <br>
                @Html.ValidationSummary(false,"", new {@class="text-danger"})
                <div class="d">
                    <div id="icon">
                        <div id="logface">
                            <div id="iconlogin">
                                <i class="fa fa-user" style="font-size:36px;color:#000;margin-left: 25%;margin-top: 15%;"></i>
                            </div>
                            <div id="face">
                                @Html.TextBoxFor(m => m.TenKh,new{id="form",placeholder="Họ và tên",type="text"})
                            </div>
                        </div>
                        <br>
                        <div id="logface">
                            <div id="iconlogin">
                                <i class="fa fa-intersex" style="font-size:36px;color:#000;margin-left: 25%;margin-top: 15%;"></i>
                            </div>
                            <div id="face">
                                @Html.TextBoxFor(m => m.GioiTinh,new{id="form",placeholder="Giới tính",type="text"})
                            </div>
                        </div>
                        <br>
                        <div id="logface">
                            <div id="iconlogin">
                                <i class="fa fa-mobile-phone" style="font-size:55px;color:#000;margin-left: 25%"></i>
                            </div>
                            <div id="face">
                                @Html.TextBoxFor(m => m.Sdt,new{id="form",placeholder="Số điện thoại",type="text"})
                            </div>
                        </div>
                        <br>
                        <div id="logface">
                            <div id="iconlogin">
                                <i class="fa fa-map-marker" style="font-size:36px;color:#000;margin-left: 25%;margin-top: 15%"></i>
                            </div>
                            <div id="face">
                                @Html.TextBoxFor(m => m.DiaChi,new{id="form",placeholder="Địa chỉ",type="text"})
                            </div>
                        </div>
                        <br>
                        <div id="logface">
                            <div id="iconlogin">
                                <i class="fa fa-eye-slash" style="font-size:25px;color:#000;margin-left: 20%;margin-top: 25%;"></i>
                            </div>
                            <div id="face">
                                @Html.TextBoxFor(m => m.Matkhau,new{id="form",placeholder="Mật khẩu",type="password"})
                            </div>
                        </div>
                        <br>
                        <div id="logface">
                            <div id="iconlogin">
                                <i class="fa fa-eye-slash" style="font-size:25px;color:#000;margin-left: 20%;margin-top: 25%;"></i>
                            </div>
                            <div id="face">
                                @Html.TextBoxFor(m => m.Matkhau,new{id="form",placeholder="Mật khẩu",type="password"})
                            </div>
                        </div>
                    </div> 
                    <br>
                    <div class="button">
                        <button id="dangnhap" type="submit"><a href="/account/login" style="color:#fff">Đăng nhập</a></button>
                    </div>
                    <br>
                    <div class="button">
                        <button id="dangky" type="submit">Đăng ký</button>
                    </div>
                </div>
                <br>
            </div>
        }
     </div>
     <!-- Js Plugins -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>